* {
	font: inherit;
	text-decoration: inherit;
	border:  none;
	outline: none;
	margin:  0;
	padding: 0;
}

body {
	display: none;
	color: #ffffff;
	background: #000000;
}

video {
	display: block;
	max-width:  calc( 100vw - 2em );
	max-height: calc( 100vh - 2em );
	margin: 1em auto;
	object-fit: contain;
}

table {
	margin: 1em auto;
	max-width: calc( 100vw - 2em );
	border-collapse: collapse;
}

td {
	padding: 0.25em 0.50em;
	border-top:    solid 1px #000000;
	border-bottom: solid 1px #000000;
}

td:nth-child(1) {
	background: #303030;
}

td:nth-child(2) {
	background: #383838;
}

a {
	color: #8080ff;
}
