* {
	font: inherit !important;
	background-image: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	border-style: none !important;
	border-radius: 0 !important;
	text-decoration: none !important;
}

html {
	font: 100%/1.5 serif !important;
}

html:lang(ja) {
	line-height: 1.75 !important;
}

sup, sub {
	font-size: calc( 200% / 3 ) !important;
	line-height: 1.0 !important;
}

pre, code {
	font-family: monospace, monospace !important;
}

iframe, object, img, svg, video, canvas {
	display: none !important;
}

p, li, dd {
	text-align: justify !important;
	   -moz-hyphens: auto !important;
	-webkit-hyphens: auto !important;
	        hyphens: auto !important;
}

a:hover {
	text-decoration: underline !important;
}
