* {
	font: inherit !important;
	background-image: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	border-radius: 0 !important;
	border-width: 1px !important;
}

html {
	font: 100%/1.5 sans-serif !important;
}

html:lang(ja), *:lang(ja) {
	line-height: 1.75 !important;
}

sup, sub {
	font-size: calc( 200% / 3 ) !important;
	line-height: 1.0 !important;
}

pre, code {
	font-family: monospace, monospace !important;
}

iframe, object, img {
	display: none !important;
}

p, li, dd {
	text-align: justify !important;
	   -moz-hyphens: auto !important;
	-webkit-hyphens: auto !important;
	        hyphens: auto !important;
}
